* {
    margin: 0;
    padding: 0;
    background-size: cover;
    
}

body{
    background: url(wallpaper.png);
    height: 100vh;
}

header h1{
    color: black;
    font-family: 'Aldrich', sans-serif;
    font-size: 70px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(12,22,79);
    background: linear-gradient(90deg, rgba(12,22,79,1) 20%, rgba(186,30,104,1) 52%, rgba(86,67,253,1) 81%);
    color: white;
}

header nav #inc {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    font-family: sans-serif;
    background-color: black;
    margin-left: 1em;
    margin-right: 1em;
}

header nav #inc:hover {
    background: white;
    transition: 0.5s;
    color: black;
}

header nav #ap1{
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    font-family: sans-serif;
    background-color: black;
    margin-left: 1em;
    margin-right: 1em;
}

header nav #ap1:hover{
    background: white;
    transition: 0.5s;
    color: black;
}

header nav #spx{
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    font-family: sans-serif;
    background-color: black;
    margin-left: 1em;
    margin-right: 1em;
}

header nav #spx:hover{
    background: white;
    transition: 0.5s;
    color: black;
}

 .medio img{
     width: 60vh;
     margin-bottom: 20px;
 }

 .medio h2{
     color: white;
     font-family: "Aldrich";
     font-size: 50px;
    text-align: center;
 }

 .medio p {
     color: white;
     margin: 10px 10vh 50px 10vh;
     font-family: sans-serif;
     font-size: 18px

 }

 #alunizaje {
     border: 1px solid white;
 }

 #alunizaje:hover{
     border: 1px solid #ba1e68;
     transition: .5s;
 }

 .inferior h2{
     color: white;
     text-align: center;
     font-family: "Aldrich";
     font-size: 50px;
     margin-top: 20px;
 }

 .inferior p{
     color: white;
     margin: 10px 10vh 50px 10vh;
     font-family: sans-serif;
     font-size: 18px;
     margin-bottom: 50px;

 }

 #saturnv{
     width: 200px;
 }

 #saturnv:hover {
     transform: rotate(90deg);
     transition: 1s;
 }